//$govuk-font-family: arial, sans-serif;
//$govuk-assets-path: '~assets/';
//@function app-font-url($filename) {
//  @return url('~/assets/#{$filename}');
//}

//$govuk-font-url-function: 'app-font-url';

//$govuk-assets-path: '/node_modules/govuk-frontend/govuk/assets/';

//@import "govuk-frontend/govuk/all";
//@function custom-url-handler($filename) {
//  @return url('/custom/#{$filename}');
//}

//$govuk-fonts-path: '/assets/fonts/';
//$govuk-font-url-function: 'custom-url-handler';

//@import 'govuk/all';

/*@import '../../../node_modules/govuk-frontend/dist/govuk/base';
@import '../../../node_modules/govuk-frontend/dist/govuk/core/all';
@import '../../../node_modules/govuk-frontend/dist/govuk/objects/all';
@import '../../../node_modules/govuk-frontend/dist/govuk/components/footer/index';
@import '../../../node_modules/govuk-frontend/dist/govuk/components/header/index';
@import '../../../node_modules/govuk-frontend/dist/govuk/utilities/all';
@import '../../../node_modules/govuk-frontend/dist/govuk/overrides/all';*/

pre {
  padding: 15px;
  background-color: #f9f9f8;
  border: 1px solid #bfc1c3;
  font-family: monospace !important;
}
