<span class="govuk-caption-xl"> Components </span>
<h1 class="govuk-heading-xl">{{ componentId() | startcase }}</h1>

@if (displayDocsLink) {
  <p class="govuk-body govuk-!-margin-bottom-8">
    Please visit
    <a
      class="govuk-link"
      href="https://design-system.service.gov.uk/components/{{ componentId() }}"
      target="_blank"
      >GOV.UK {{ componentId() | startcase }}
    </a>
    for official documentation and usage.
  </p>
} @else {
  <p class="govuk-body govuk-!-margin-bottom-8">
    There is no direct mapping to this component in the GOV.UK Design System,
    but the pattern is used widely across the system.
  </p>
}

<ngx-govuk-tabs-nav>
  <a ngxGovukTabLink routerLink="./preview" routerLinkActive>Demo</a>
  <a ngxGovukTabLink routerLink="./code" routerLinkActive>Code</a>
  <a ngxGovukTabLink routerLink="./api" routerLinkActive>API</a>
  <router-outlet></router-outlet>
</ngx-govuk-tabs-nav>
