<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">ngx-govuk</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      Unofficial <strong>GOV.UK</strong> components for
      <strong>Angular projects</strong>
    </p>
    <h2 class="govuk-heading-m">Features</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Standalone and signal based components.</li>
      <li>Tree shakable.</li>
      <li>Accurate markup including all accessibility features.</li>
      <li>Simple to use with comprehensive documentation.</li>
      <li>Fully tested.</li>
    </ul>

    <a
      routerLink="/get-started"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start"
    >
      Get started
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        aria-hidden="true"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div>
  <div class="govuk-grid-column-one-third"></div>
</div>
